# Data Gathering

This notebook contains information on downloading market (end of day price stock prices) data, fundamental data,  alternative data from different sources for the stocks part listed in the S&P 500 index.

## 1. Setup
Let's start with installing a few libraries that we are going to use and setting up our environment:

### 1.1 Install, import and setup libraries

In [1]:
%pip install eod
%pip install yfinance
%pip install tables
%pip install fmp_python
%matplotlib inline

Requirement already satisfied: eod in ./ats-venv/lib/python3.10/site-packages (0.2.1)
Requirement already satisfied: numpy in ./ats-venv/lib/python3.10/site-packages (from eod) (1.24.1)
Requirement already satisfied: requests in ./ats-venv/lib/python3.10/site-packages (from eod) (2.28.2)
Requirement already satisfied: pandas in ./ats-venv/lib/python3.10/site-packages (from eod) (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./ats-venv/lib/python3.10/site-packages (from pandas->eod) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./ats-venv/lib/python3.10/site-packages (from pandas->eod) (2022.7)
Requirement already satisfied: certifi>=2017.4.17 in ./ats-venv/lib/python3.10/site-packages (from requests->eod) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in ./ats-venv/lib/python3.10/site-packages (from requests->eod) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in ./ats-venv/lib/python3.10/site-packages (from requests->eod) (3.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./ats-venv/lib/python3.10/site-packages (from requests->eod) (1.26.14)
Requirement already satisfied: six>=1.5 in ./ats-venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->eod) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: yfinance in ./ats-venv/lib/python3.10/site-packages (0.2.9)
Requirement already satisfied: beautifulsoup4>=4.11.1 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: requests>=2.26 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (2.28.2)
Requirement already satisfied: html5lib>=1.1 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (1.5.2)
Requirement already satisfied: lxml>=4.9.1 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: pytz>=2022.5 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (2022.7)
Requirement already satisfied: multitasking>=0.0.7 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (39.0.0)
Requirement already satisfied: frozendict>=2.3.4 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (2.3.4)
Requirement already satisfied: numpy>=1.16.5 in ./ats-venv/lib/python3.10/site-packages (from yfinance) (1.24.1)
Requirement already satisfied: soupsieve>1.2 in ./ats-venv/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in ./ats-venv/lib/python3.10/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in ./ats-venv/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in ./ats-venv/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./ats-venv/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in ./ats-venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: charset-normalizer<4,>=2 in ./ats-venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (3.0.1)
Requirement already satisfied: certifi>=2017.4.17 in ./ats-venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./ats-venv/lib/python3.10/site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: pycparser in ./ats-venv/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tables in ./ats-venv/lib/python3.10/site-packages (3.8.0)
Requirement already satisfied: cython>=0.29.21 in ./ats-venv/lib/python3.10/site-packages (from tables) (0.29.33)
Requirement already satisfied: numexpr>=2.6.2 in ./ats-venv/lib/python3.10/site-packages (from tables) (2.8.4)
Requirement already satisfied: packaging in ./ats-venv/lib/python3.10/site-packages (from tables) (23.0)
Requirement already satisfied: blosc2~=2.0.0 in ./ats-venv/lib/python3.10/site-packages (from tables) (2.0.0)
Requirement already satisfied: py-cpuinfo in ./ats-venv/lib/python3.10/site-packages (from tables) (9.0.0)
Requirement already satisfied: numpy>=1.19.0 in ./ats-venv/lib/python3.10/site-packages (from tables) (1.24.1)
Requirement already satisfied: msgpack in ./ats-venv/lib/python3.10/site-packages (from blosc2~=2.0.0->tables) (1.0.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: fmp_python in ./ats-venv/lib/python3.10/site-packages (0.1.4)
Requirement already satisfied: pandas in ./ats-venv/lib/python3.10/site-packages (from fmp_python) (1.5.2)
Requirement already satisfied: requests in ./ats-venv/lib/python3.10/site-packages (from fmp_python) (2.28.2)
Requirement already satisfied: numpy>=1.21.0 in ./ats-venv/lib/python3.10/site-packages (from pandas->fmp_python) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in ./ats-venv/lib/python3.10/site-packages (from pandas->fmp_python) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./ats-venv/lib/python3.10/site-packages (from pandas->fmp_python) (2022.7)
Requirement already satisfied: idna<4,>=2.5 in ./ats-venv/lib/python3.10/site-packages (from requests->fmp_python) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in ./ats-venv/lib/python3.10/site-packages (from requests->fmp_python) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./ats-venv/lib/python3.10/site-packages (from requests->fmp_python) (1.26.14)
Requirement already satisfied: charset-normalizer<4,>=2 in ./ats-venv/lib/python3.10/site-packages (from requests->fmp_python) (3.0.1)
Requirement already satisfied: six>=1.5 in ./ats-venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->fmp_python) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import bs4 as bs
import certifi
from datetime import date
from eod import EodHistoricalData
from fmp_python.fmp import FMP
from functools import reduce
from io import BytesIO
import json
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import numpy as np
import pandas as pd
import pandas_datareader.data as web
from pathlib import Path
from pprint import pprint
import requests
import seaborn as sns
import ssl
import time
from urllib.request import urlopen
import yfinance as yf
from zipfile import ZipFile, BadZipFile

pd.set_option('display.expand_frame_repr', False)

### 1.2 Set Paths

Currently we will keep our data in the __/data__ folder in which the current file resides. Modify path if you would like to store the data elsewhere and change the notebooks accordingly.

In [2]:
data_path = Path('data') # perhaps set to external harddrive to accomodate large amount of data
if not data_path.exists():
    data_path.mkdir()
data_store = Path('data/data.h5')

### 1.3 Set API variables

In [6]:
#API KEY from https://site.financialmodelingprep.com/d
API_KEY = '6ee1ddf9fe496202eaf02b9b6fd6e396'

#init dataframes
sp500_constituents = pd.DataFrame()
historical_prices = pd.DataFrame()
ratios = pd.DataFrame()
balance_sheet_statements = pd.DataFrame()
income_statements = pd.DataFrame()
cash_flow_statements = pd.DataFrame()

In [7]:
#init api urls
historical_prices_api = 'https://financialmodelingprep.com/api/v3/historical-price-full'
ratios_api = 'https://financialmodelingprep.com/api/v3/ratios'
balance_sheet_statements_api = 'https://financialmodelingprep.com/api/v3/balance-sheet-statement'
income_statements_api = 'https://financialmodelingprep.com/api/v3/income-statement'
cash_flow_statements_api = 'https://financialmodelingprep.com/api/v3/cash-flow-statement'
sp500_constituent_api = 'https://financialmodelingprep.com/api/v3/sp500_constituent'

### 1.4 Create helper function

In [8]:
def get_data(url_api, ticker, period , limit, key, data_type):
    if data_type == 'f':
        url = (f'{url_api}/{ticker}?period={period}&limit={limit}&apikey={key}')
    else:
        url = (f'{url_api}/{ticker}?apikey={key}')
    context = ssl.create_default_context(cafile=certifi.where())
    response = urlopen(url, context = context)
    return pd.read_json(response.read().decode("utf-8"))

## 2. Collecting S&P 500 component stocks

For benchmark we will compare the results of our automated trading system by creating a portfolio with the stocks part of the index S&P 500 with the results of the index itself.

The following code downloads the S&P500 stocks lists.

In [22]:
url = (f'{sp500_constituent_api}?apikey={API_KEY}')
context = ssl.create_default_context(cafile=certifi.where())
response = urlopen(url, context = context)
sp500_constituents = pd.read_json(response.read().decode("utf-8"))
sp500_constituents.head()

  symbol         name                  sector                       subSector              headQuarter dateFirstAdded      cik founded
0    MMM           3M             Industrials        Industrial Conglomerates    Saint Paul, Minnesota     1976-08-09    66740    1902
1    AOS  A. O. Smith             Industrials               Building Products     Milwaukee, Wisconsin     2017-07-26    91142    1916
2    ABT       Abbott             Health Care           Health Care Equipment  North Chicago, Illinois     1964-03-31     1800    1888
3   ABBV       AbbVie             Health Care                 Pharmaceuticals  North Chicago, Illinois     2012-12-31  1551152    2013
4    ACN    Accenture  Information Technology  IT Consulting & Other Services          Dublin, Ireland     2011-07-06  1467373    1989

Finding odd entries in tickers list, these tickers do not have data from the scrape and do not

In [23]:
bad_tickers = []
for ticker in sp500_constituents.symbol:
    if '.' in ticker:
        bad_tickers.append(ticker)
        
# Exclude the bad tickers from our list
sp500_constituents = sp500_constituents[~sp500_constituents.symbol.isin(bad_tickers)]
#Creare index
sp500_constituents = sp500_constituents.set_index('symbol')
sp500_constituents['dateFirstAdded'] = pd.to_datetime(sp500_constituents.dateFirstAdded).dt.tz_localize(None)

In [24]:
sp500_constituents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 503 entries, MMM to ZTS
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            503 non-null    object
 1   sector          503 non-null    object
 2   subSector       503 non-null    object
 3   headQuarter     503 non-null    object
 4   dateFirstAdded  459 non-null    datetime64[ns]
 5   cik             503 non-null    int64
 6   founded         503 non-null    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 31.4+ KB

## 3. Get market and fundamental data

In [10]:
for ticker in sp500_constituents.index:
    print(f'Loading data for index {ticker}')
    #historical prices
    tmp_historical_prices_df = get_data(historical_prices_api, ticker, '',20, API_KEY,'')
    tmp_historical_prices_df = pd.concat([tmp_historical_prices_df, pd.json_normalize(tmp_historical_prices_df.pop("historical"))], axis=1)
    historical_prices = pd.concat([historical_prices,tmp_historical_prices_df])

    #ratios
    tmp_ratios_df = get_data(ratios_api, ticker, 'quarter',20, API_KEY,'f')
    ratios = pd.concat([ratios,tmp_ratios_df])

    #balance sheet statements
    tmp_balance_sheet_statements_df = get_data(balance_sheet_statements_api, ticker, 'quarter',20, API_KEY,'f')
    balance_sheet_statements= pd.concat([balance_sheet_statements,tmp_balance_sheet_statements_df])
    
    #cash flow statements
    tmp_cash_flow_statements_df = get_data(cash_flow_statements_api, ticker, 'quarter',20, API_KEY,'f')
    cash_flow_statements = pd.concat([cash_flow_statements,tmp_cash_flow_statements_df])
    
    #income statements
    tmp_income_statements_df = get_data(income_statements_api, ticker, 'quarter',20, API_KEY,'f')
    income_statements = pd.concat([income_statements,tmp_income_statements_df])

Loading data for index MMM
Loading data for index AOS
Loading data for index ABT
Loading data for index ABBV
Loading data for index ACN
Loading data for index ATVI
Loading data for index ADM
Loading data for index ADBE
Loading data for index ADP
Loading data for index AAP
Loading data for index AES
Loading data for index AFL
Loading data for index A
Loading data for index APD
Loading data for index AKAM
Loading data for index ALK
Loading data for index ALB
Loading data for index ARE
Loading data for index ALGN
Loading data for index ALLE
Loading data for index LNT
Loading data for index ALL
Loading data for index GOOGL
Loading data for index GOOG
Loading data for index MO
Loading data for index AMZN
Loading data for index AMCR
Loading data for index AMD
Loading data for index AEE
Loading data for index AAL
Loading data for index AEP
Loading data for index AXP
Loading data for index AIG
Loading data for index AMT
Loading data for index AWK
Loading data for index AMP
Loading data for index ABC
Loading data for index AME
Loading data for index AMGN
Loading data for index APH
Loading data for index ADI
Loading data for index ANSS
Loading data for index AON
Loading data for index APA
Loading data for index AAPL
Loading data for index AMAT
Loading data for index APTV
Loading data for index ACGL
Loading data for index ANET
Loading data for index AJG
Loading data for index AIZ
Loading data for index T
Loading data for index ATO
Loading data for index ADSK
Loading data for index AZO
Loading data for index AVB
Loading data for index AVY
Loading data for index BKR
Loading data for index BALL
Loading data for index BAC
Loading data for index BBWI
Loading data for index BAX
Loading data for index BDX
Loading data for index WRB
Loading data for index BRK-B
Loading data for index BBY
Loading data for index BIO
Loading data for index TECH
Loading data for index BIIB
Loading data for index BLK
Loading data for index BK
Loading data for index BA
Loading data for index BKNG
Loading data for index BWA
Loading data for index BXP
Loading data for index BSX
Loading data for index BMY
Loading data for index AVGO
Loading data for index BR
Loading data for index BRO
Loading data for index BF-B
Loading data for index CHRW
Loading data for index CDNS
Loading data for index CZR
Loading data for index CPT
Loading data for index CPB
Loading data for index COF
Loading data for index CAH
Loading data for index KMX
Loading data for index CCL
Loading data for index CARR
Loading data for index CTLT
Loading data for index CAT
Loading data for index CBOE
Loading data for index CBRE
Loading data for index CDW
Loading data for index CE
Loading data for index CNC
Loading data for index CNP
Loading data for index CDAY
Loading data for index CF
Loading data for index CRL
Loading data for index SCHW
Loading data for index CHTR
Loading data for index CVX
Loading data for index CMG
Loading data for index CB
Loading data for index CHD
Loading data for index CI
Loading data for index CINF
Loading data for index CTAS
Loading data for index CSCO
Loading data for index C
Loading data for index CFG
Loading data for index CLX
Loading data for index CME
Loading data for index CMS
Loading data for index KO
Loading data for index CTSH
Loading data for index CL
Loading data for index CMCSA
Loading data for index CMA
Loading data for index CAG
Loading data for index COP
Loading data for index ED
Loading data for index STZ
Loading data for index CEG
Loading data for index COO
Loading data for index CPRT
Loading data for index GLW
Loading data for index CTVA
Loading data for index CSGP
Loading data for index COST
Loading data for index CTRA
Loading data for index CCI
Loading data for index CSX
Loading data for index CMI
Loading data for index CVS
Loading data for index DHI
Loading data for index DHR
Loading data for index DRI
Loading data for index DVA
Loading data for index DE
Loading data for index DAL
Loading data for index XRAY
Loading data for index DVN
Loading data for index DXCM
Loading data for index FANG
Loading data for index DLR
Loading data for index DFS
Loading data for index DISH
Loading data for index DIS
Loading data for index DG
Loading data for index DLTR
Loading data for index D
Loading data for index DPZ
Loading data for index DOV
Loading data for index DOW
Loading data for index DTE
Loading data for index DUK
Loading data for index DD
Loading data for index DXC
Loading data for index EMN
Loading data for index ETN
Loading data for index EBAY
Loading data for index ECL
Loading data for index EIX
Loading data for index EW
Loading data for index EA
Loading data for index ELV
Loading data for index LLY
Loading data for index EMR
Loading data for index ENPH
Loading data for index ETR
Loading data for index EOG
Loading data for index EPAM
Loading data for index EQT
Loading data for index EFX
Loading data for index EQIX
Loading data for index EQR
Loading data for index ESS
Loading data for index EL
Loading data for index ETSY
Loading data for index RE
Loading data for index EVRG
Loading data for index ES
Loading data for index EXC
Loading data for index EXPE
Loading data for index EXPD
Loading data for index EXR
Loading data for index XOM
Loading data for index FFIV
Loading data for index FDS
Loading data for index FAST
Loading data for index FRT
Loading data for index FDX
Loading data for index FITB
Loading data for index FRC
Loading data for index FSLR
Loading data for index FE
Loading data for index FIS
Loading data for index FISV
Loading data for index FLT
Loading data for index FMC
Loading data for index F
Loading data for index FTNT
Loading data for index FTV
Loading data for index FOXA
Loading data for index FOX
Loading data for index BEN
Loading data for index FCX
Loading data for index GRMN
Loading data for index IT
Loading data for index GEHC
Loading data for index GEN
Loading data for index GNRC
Loading data for index GD
Loading data for index GE
Loading data for index GIS
Loading data for index GM
Loading data for index GPC
Loading data for index GILD
Loading data for index GL
Loading data for index GPN
Loading data for index GS
Loading data for index HAL
Loading data for index HIG
Loading data for index HAS
Loading data for index HCA
Loading data for index PEAK
Loading data for index HSIC
Loading data for index HSY
Loading data for index HES
Loading data for index HPE
Loading data for index HLT
Loading data for index HOLX
Loading data for index HD
Loading data for index HON
Loading data for index HRL
Loading data for index HST
Loading data for index HWM
Loading data for index HPQ
Loading data for index HUM
Loading data for index HBAN
Loading data for index HII
Loading data for index IBM
Loading data for index IEX
Loading data for index IDXX
Loading data for index ITW
Loading data for index ILMN
Loading data for index INCY
Loading data for index IR
Loading data for index INTC
Loading data for index ICE
Loading data for index IP
Loading data for index IPG
Loading data for index IFF
Loading data for index INTU
Loading data for index ISRG
Loading data for index IVZ
Loading data for index INVH
Loading data for index IQV
Loading data for index IRM
Loading data for index JBHT
Loading data for index JKHY
Loading data for index J
Loading data for index JNJ
Loading data for index JCI
Loading data for index JPM
Loading data for index JNPR
Loading data for index K
Loading data for index KDP
Loading data for index KEY
Loading data for index KEYS
Loading data for index KMB
Loading data for index KIM
Loading data for index KMI
Loading data for index KLAC
Loading data for index KHC
Loading data for index KR
Loading data for index LHX
Loading data for index LH
Loading data for index LRCX
Loading data for index LW
Loading data for index LVS
Loading data for index LDOS
Loading data for index LEN
Loading data for index LNC
Loading data for index LIN
Loading data for index LYV
Loading data for index LKQ
Loading data for index LMT
Loading data for index L
Loading data for index LOW
Loading data for index LUMN
Loading data for index LYB
Loading data for index MTB
Loading data for index MRO
Loading data for index MPC
Loading data for index MKTX
Loading data for index MAR
Loading data for index MMC
Loading data for index MLM
Loading data for index MAS
Loading data for index MA
Loading data for index MTCH
Loading data for index MKC
Loading data for index MCD
Loading data for index MCK
Loading data for index MDT
Loading data for index MRK
Loading data for index META
Loading data for index MET
Loading data for index MTD
Loading data for index MGM
Loading data for index MCHP
Loading data for index MU
Loading data for index MSFT
Loading data for index MAA
Loading data for index MRNA
Loading data for index MHK
Loading data for index MOH
Loading data for index TAP
Loading data for index MDLZ
Loading data for index MPWR
Loading data for index MNST
Loading data for index MCO
Loading data for index MS
Loading data for index MOS
Loading data for index MSI
Loading data for index MSCI
Loading data for index NDAQ
Loading data for index NTAP
Loading data for index NFLX
Loading data for index NWL
Loading data for index NEM
Loading data for index NWSA
Loading data for index NWS
Loading data for index NEE
Loading data for index NKE
Loading data for index NI
Loading data for index NDSN
Loading data for index NSC
Loading data for index NTRS
Loading data for index NOC
Loading data for index NCLH
Loading data for index NRG
Loading data for index NUE
Loading data for index NVDA
Loading data for index NVR
Loading data for index NXPI
Loading data for index ORLY
Loading data for index OXY
Loading data for index ODFL
Loading data for index OMC
Loading data for index ON
Loading data for index OKE
Loading data for index ORCL
Loading data for index OGN
Loading data for index OTIS
Loading data for index PCAR
Loading data for index PKG
Loading data for index PARA
Loading data for index PH
Loading data for index PAYX
Loading data for index PAYC
Loading data for index PYPL
Loading data for index PNR
Loading data for index PEP
Loading data for index PKI
Loading data for index PFE
Loading data for index PCG
Loading data for index PM
Loading data for index PSX
Loading data for index PNW
Loading data for index PXD
Loading data for index PNC
Loading data for index POOL
Loading data for index PPG
Loading data for index PPL
Loading data for index PFG
Loading data for index PG
Loading data for index PGR
Loading data for index PLD
Loading data for index PRU
Loading data for index PEG
Loading data for index PTC
Loading data for index PSA
Loading data for index PHM
Loading data for index QRVO
Loading data for index PWR
Loading data for index QCOM
Loading data for index DGX
Loading data for index RL
Loading data for index RJF
Loading data for index RTX
Loading data for index O
Loading data for index REG
Loading data for index REGN
Loading data for index RF
Loading data for index RSG
Loading data for index RMD
Loading data for index RHI
Loading data for index ROK
Loading data for index ROL
Loading data for index ROP
Loading data for index ROST
Loading data for index RCL
Loading data for index SPGI
Loading data for index CRM
Loading data for index SBAC
Loading data for index SLB
Loading data for index STX
Loading data for index SEE
Loading data for index SRE
Loading data for index NOW
Loading data for index SHW
Loading data for index SBNY
Loading data for index SPG
Loading data for index SWKS
Loading data for index SJM
Loading data for index SNA
Loading data for index SEDG
Loading data for index SO
Loading data for index LUV
Loading data for index SWK
Loading data for index SBUX
Loading data for index STT
Loading data for index STLD
Loading data for index STE
Loading data for index SYK
Loading data for index SIVB
Loading data for index SYF
Loading data for index SNPS
Loading data for index SYY
Loading data for index TMUS
Loading data for index TROW
Loading data for index TTWO
Loading data for index TPR
Loading data for index TRGP
Loading data for index TGT
Loading data for index TEL
Loading data for index TDY
Loading data for index TFX
Loading data for index TER
Loading data for index TSLA
Loading data for index TXN
Loading data for index TXT
Loading data for index TMO
Loading data for index TJX
Loading data for index TSCO
Loading data for index TT
Loading data for index TDG
Loading data for index TRV
Loading data for index TRMB
Loading data for index TFC
Loading data for index TYL
Loading data for index TSN
Loading data for index USB
Loading data for index UDR
Loading data for index ULTA
Loading data for index UNP
Loading data for index UAL
Loading data for index UPS
Loading data for index URI
Loading data for index UNH
Loading data for index UHS
Loading data for index VLO
Loading data for index VTR
Loading data for index VRSN
Loading data for index VRSK
Loading data for index VZ
Loading data for index VRTX
Loading data for index VFC
Loading data for index VTRS
Loading data for index VICI
Loading data for index V
Loading data for index VMC
Loading data for index WAB
Loading data for index WBA
Loading data for index WMT
Loading data for index WBD
Loading data for index WM
Loading data for index WAT
Loading data for index WEC
Loading data for index WFC
Loading data for index WELL
Loading data for index WST
Loading data for index WDC
Loading data for index WRK
Loading data for index WY
Loading data for index WHR
Loading data for index WMB
Loading data for index WTW
Loading data for index GWW
Loading data for index WYNN
Loading data for index XEL
Loading data for index XYL
Loading data for index YUM
Loading data for index ZBRA
Loading data for index ZBH
Loading data for index ZION
Loading data for index ZTS

In [11]:
income_statements.info()

         date symbol reportedCurrency        cik fillingDate         acceptedDate  calendarYear period     revenue  costOfRevenue  ...  incomeBeforeTaxRatio  incomeTaxExpense  netIncome  netIncomeRatio   eps  epsdiluted  weightedAverageShsOut  weightedAverageShsOutDil                                               link                                          finalLink
15 2018-12-31    ZTS              USD  1555280.0  2019-02-14  2019-02-14 17:08:33          2018     Q4  1564000000      544000000  ...              0.267263          73000000  345000000        0.220588  0.72        0.71              480603000                 484479000  https://www.sec.gov/Archives/edgar/data/155528...  https://www.sec.gov/Archives/edgar/data/155528...
16 2018-09-30    ZTS              USD  1555280.0  2018-11-01  2018-11-01 16:43:32          2018     Q3  1480000000      473000000  ...              0.282432          71000000  347000000        0.234459  0.72        0.71              482000000                 485800000  https://www.sec.gov/Archives/edgar/data/155528...  https://www.sec.gov/Archives/edgar/data/155528...
17 2018-06-30    ZTS              USD  1555280.0  2018-08-02  2018-08-02 15:34:20          2018     Q2  1415000000      447000000  ...              0.308834          55000000  384000000        0.271378  0.79        0.79              483800000                 487500000  https://www.sec.gov/Archives/edgar/data/155528...  https://www.sec.gov/Archives/edgar/data/155528...
18 2018-03-31    ZTS              USD  1555280.0  2018-05-02  2018-05-02 08:08:42          2018     Q1  1366000000      447000000  ...              0.305271          67000000  352000000        0.257687  0.72        0.72              485900000                 489800000  https://www.sec.gov/Archives/edgar/data/155528...  https://www.sec.gov/Archives/edgar/data/155528...
19 2017-12-31    ZTS              USD  1555280.0  2018-02-15  2018-02-15 12:31:15          2017     Q4  1460000000      457000000  ...              0.294521         350000000   81000000        0.055479  0.17        0.16              487323000                 491022000  https://www.sec.gov/Archives/edgar/data/155528...  https://www.sec.gov/Archives/edgar/data/155528...

[5 rows x 38 columns]

In [51]:
ratios['calendarYear'] = ratios['date'].dt.year
ratios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9963 entries, 0 to 19
Data columns (total 58 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   symbol                              9963 non-null   object
 1   date                                9963 non-null   datetime64[ns]
 2   period                              9963 non-null   object
 3   currentRatio                        9459 non-null   float64
 4   quickRatio                          9459 non-null   float64
 5   cashRatio                           9459 non-null   float64
 6   daysOfSalesOutstanding              9952 non-null   float64
 7   daysOfInventoryOutstanding          8798 non-null   float64
 8   operatingCycle                      8797 non-null   float64
 9   daysOfPayablesOutstanding           8798 non-null   float64
 10  cashConversionCycle                 8797 non-null   float64
 11  grossProfitMargin                   9952 non-null   float64
 12  operatingProfitMargin               9952 non-null   float64
 13  pretaxProfitMargin                  9952 non-null   float64
 14  netProfitMargin                     9952 non-null   float64
 15  effectiveTaxRate                    9960 non-null   float64
 16  returnOnAssets                      9963 non-null   float64
 17  returnOnEquity                      9959 non-null   float64
 18  returnOnCapitalEmployed             9459 non-null   float64
 19  netIncomePerEBT                     9960 non-null   float64
 20  ebtPerEbit                          8960 non-null   float64
 21  ebitPerRevenue                      9952 non-null   float64
 22  debtRatio                           9963 non-null   float64
 23  debtEquityRatio                     9959 non-null   float64
 24  longTermDebtToCapitalization        9688 non-null   float64
 25  totalDebtToCapitalization           8342 non-null   float64
 26  interestCoverage                    9435 non-null   float64
 27  cashFlowToDebtRatio                 9691 non-null   float64
 28  companyEquityMultiplier             9959 non-null   float64
 29  receivablesTurnover                 9644 non-null   float64
 30  payablesTurnover                    8987 non-null   float64
 31  inventoryTurnover                   6748 non-null   float64
 32  fixedAssetTurnover                  9480 non-null   float64
 33  assetTurnover                       9963 non-null   float64
 34  operatingCashFlowPerShare           9959 non-null   float64
 35  freeCashFlowPerShare                9959 non-null   float64
 36  cashPerShare                        9959 non-null   float64
 37  payoutRatio                         9958 non-null   float64
 38  operatingCashFlowSalesRatio         9952 non-null   float64
 39  freeCashFlowOperatingCashFlowRatio  9947 non-null   float64
 40  cashFlowCoverageRatios              8345 non-null   float64
 41  shortTermCoverageRatios             8404 non-null   float64
 42  capitalExpenditureCoverageRatio     9428 non-null   float64
 43  dividendPaidAndCapexCoverageRatio   7212 non-null   float64
 44  dividendPayoutRatio                 7724 non-null   float64
 45  priceBookValueRatio                 9955 non-null   float64
 46  priceToBookRatio                    9955 non-null   float64
 47  priceToSalesRatio                   9948 non-null   float64
 48  priceEarningsRatio                  9954 non-null   float64
 49  priceToFreeCashFlowsRatio           9954 non-null   float64
 50  priceToOperatingCashFlowsRatio      9943 non-null   float64
 51  priceCashFlowRatio                  9943 non-null   float64
 52  priceEarningsToGrowthRatio          9953 non-null   float64
 53  priceSalesRatio                     9948 non-null   float64
 54  dividendYield                       7725 non-null   float64
 55  enterpriseValueMultiple             9930 non-null   float64
 56  priceFairValue                      9955 non-null   float64
 57  calendarYear                        9963 non-null   int64
dtypes: datetime64[ns](1), float64(54), int64(1), object(2)
memory usage: 4.5+ MB

In [23]:
balance_sheet_statements.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9991 entries, 0 to 19
Data columns (total 54 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     9991 non-null   datetime64[ns]
 1   symbol                                   9991 non-null   object
 2   reportedCurrency                         9991 non-null   object
 3   cik                                      9988 non-null   float64
 4   fillingDate                              9991 non-null   object
 5   acceptedDate                             9991 non-null   object
 6   calendarYear                             9991 non-null   int64
 7   period                                   9991 non-null   object
 8   cashAndCashEquivalents                   9991 non-null   float64
 9   shortTermInvestments                     9991 non-null   float64
 10  cashAndShortTermInvestments              9991 non-null   float64
 11  netReceivables                           9991 non-null   float64
 12  inventory                                9991 non-null   float64
 13  otherCurrentAssets                       9991 non-null   float64
 14  totalCurrentAssets                       9991 non-null   float64
 15  propertyPlantEquipmentNet                9991 non-null   float64
 16  goodwill                                 9991 non-null   float64
 17  intangibleAssets                         9991 non-null   float64
 18  goodwillAndIntangibleAssets              9991 non-null   float64
 19  longTermInvestments                      9991 non-null   float64
 20  taxAssets                                9991 non-null   float64
 21  otherNonCurrentAssets                    9991 non-null   float64
 22  totalNonCurrentAssets                    9991 non-null   float64
 23  otherAssets                              9991 non-null   int64
 24  totalAssets                              9991 non-null   float64
 25  accountPayables                          9991 non-null   float64
 26  shortTermDebt                            9991 non-null   float64
 27  taxPayables                              9991 non-null   int64
 28  deferredRevenue                          9991 non-null   int64
 29  otherCurrentLiabilities                  9991 non-null   float64
 30  totalCurrentLiabilities                  9991 non-null   float64
 31  longTermDebt                             9991 non-null   float64
 32  deferredRevenueNonCurrent                9991 non-null   int64
 33  deferredTaxLiabilitiesNonCurrent         9991 non-null   float64
 34  otherNonCurrentLiabilities               9991 non-null   float64
 35  totalNonCurrentLiabilities               9991 non-null   float64
 36  otherLiabilities                         9991 non-null   float64
 37  capitalLeaseObligations                  9991 non-null   float64
 38  totalLiabilities                         9991 non-null   float64
 39  preferredStock                           9991 non-null   int64
 40  commonStock                              9991 non-null   float64
 41  retainedEarnings                         9991 non-null   float64
 42  accumulatedOtherComprehensiveIncomeLoss  9991 non-null   float64
 43  othertotalStockholdersEquity             9991 non-null   float64
 44  totalStockholdersEquity                  9991 non-null   float64
 45  totalEquity                              9991 non-null   float64
 46  totalLiabilitiesAndStockholdersEquity    9991 non-null   float64
 47  minorityInterest                         9991 non-null   int64
 48  totalLiabilitiesAndTotalEquity           9991 non-null   float64
 49  totalInvestments                         9991 non-null   float64
 50  totalDebt                                9991 non-null   float64
 51  netDebt                                  9991 non-null   float64
 52  link                                     9991 non-null   object
 53  finalLink                                9991 non-null   object
dtypes: datetime64[ns](1), float64(39), int64(7), object(7)
memory usage: 4.2+ MB

In [16]:
historical_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 626773 entries, 0 to 1256
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   symbol            626773 non-null  object
 1   date              626773 non-null  object
 2   open              626773 non-null  float64
 3   high              626773 non-null  float64
 4   low               626773 non-null  float64
 5   close             626773 non-null  float64
 6   adjClose          626773 non-null  float64
 7   volume            626773 non-null  int64
 8   unadjustedVolume  626773 non-null  int64
 9   change            626773 non-null  float64
 10  changePercent     626773 non-null  float64
 11  vwap              626773 non-null  float64
 12  label             626773 non-null  object
 13  changeOverTime    626773 non-null  float64
dtypes: float64(9), int64(2), object(3)
memory usage: 71.7+ MB

## 3. Save data

### 3.1 Save data to CSV

In [26]:
def save_to_csv(df,name):
    df = df.reset_index()
    if 'index' in df.columns:
          df = df.drop(['index'], axis = 1)
    df['ticker'] = df['symbol']
    df = df.drop(['symbol'], axis = 1)
    df.to_csv(f'data/{name}.csv')

In [60]:
save_to_csv(historical_prices,'historical_prices')
save_to_csv(balance_sheet_statements,'balance_sheet_statements')
save_to_csv(ratios,'ratios')
save_to_csv(income_statements,'income_statements')
save_to_csv(cash_flow_statements,'cash_flow_statements')
save_to_csv(sp500_constituents,'sp500_constituents')

In [27]:
save_to_csv(sp500_constituents,'sp500_constituents')

### 3.2 Save to HDF

In [28]:
def save_to_hdf(name):
    df = (pd.read_csv(f'data/{name}.csv',
                 parse_dates=['date'],
                 index_col=['date', 'ticker'],
                 infer_datetime_format=True)
     .sort_index())
    with pd.HDFStore(data_store) as store:
        store.put(f'stocks/{name}', df)

In [29]:
save_to_hdf('historical_prices')
save_to_hdf('balance_sheet_statements')
save_to_hdf('ratios')
save_to_hdf('income_statements')
save_to_hdf('cash_flow_statements')
with pd.HDFStore(data_store) as store:
        store.put('stocks/sp500_constituents', sp500_constituents)

/var/folders/hp/29p2m8ms4vg51dy79knkbqgh0000gn/T/ipykernel_79646/2150501944.py:8: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['reportedCurrency', 'fillingDate', 'acceptedDate', 'period', 'link',
       'finalLink'],
      dtype='object')]

  store.put(f'stocks/{name}', df)
/var/folders/hp/29p2m8ms4vg51dy79knkbqgh0000gn/T/ipykernel_79646/2150501944.py:8: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['reportedCurrency', 'fillingDate', 'acceptedDate', 'period', 'link',
       'finalLink'],
      dtype='object')]

  store.put(f'stocks/{name}', df)
/var/folders/hp/29p2m8ms4vg51dy79knkbqgh0000gn/T/ipykernel_79646/2150501944.py:8: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['reportedCurrency', 'fillingDate', 'acceptedDate', 'period', 'link',
       'finalLink'],
      dtype='object')]

  store.put(f'stocks/{name}', df)

In [ ]:
sp500_constituents

    symbol                  name                  sector                           subSector              headQuarter dateFirstAdded      cik founded
0      MMM                    3M             Industrials            Industrial Conglomerates    Saint Paul, Minnesota     1976-08-09    66740    1902
1      AOS           A. O. Smith             Industrials                   Building Products     Milwaukee, Wisconsin     2017-07-26    91142    1916
2      ABT                Abbott             Health Care               Health Care Equipment  North Chicago, Illinois     1964-03-31     1800    1888
3     ABBV                AbbVie             Health Care                     Pharmaceuticals  North Chicago, Illinois     2012-12-31  1551152    2013
4      ACN             Accenture  Information Technology      IT Consulting & Other Services          Dublin, Ireland     2011-07-06  1467373    1989
..     ...                   ...                     ...                                 ...                      ...            ...      ...     ...
498    YUM           Yum! Brands  Consumer Discretionary                         Restaurants     Louisville, Kentucky     1997-10-06  1041061    1997
499   ZBRA    Zebra Technologies  Information Technology  Electronic Equipment & Instruments   Lincolnshire, Illinois     2019-12-23   877212    1969
500    ZBH         Zimmer Biomet             Health Care               Health Care Equipment          Warsaw, Indiana     2001-08-07  1136869    1927
501   ZION  Zions Bancorporation              Financials                      Regional Banks     Salt Lake City, Utah     2001-06-22   109380    1873
502    ZTS                Zoetis             Health Care                     Pharmaceuticals   Parsippany, New Jersey     2013-06-21  1555280    1952

[503 rows x 8 columns]

In [13]:
income_statements.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [73]:
cash_flow_statements.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10006 entries, 0 to 19
Data columns (total 40 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   date                                      10006 non-null  datetime64[ns]
 1   symbol                                    10006 non-null  object
 2   reportedCurrency                          10006 non-null  object
 3   cik                                       10003 non-null  float64
 4   fillingDate                               10006 non-null  object
 5   acceptedDate                              10006 non-null  object
 6   calendarYear                              10006 non-null  int64
 7   period                                    10006 non-null  object
 8   netIncome                                 10006 non-null  float64
 9   depreciationAndAmortization               10006 non-null  float64
 10  deferredIncomeTax                         10006 non-null  float64
 11  stockBasedCompensation                    10006 non-null  float64
 12  changeInWorkingCapital                    10006 non-null  float64
 13  accountsReceivables                       10006 non-null  float64
 14  inventory                                 10006 non-null  float64
 15  accountsPayables                          10006 non-null  int64
 16  otherWorkingCapital                       10006 non-null  int64
 17  otherNonCashItems                         10006 non-null  float64
 18  netCashProvidedByOperatingActivities      10006 non-null  float64
 19  investmentsInPropertyPlantAndEquipment    10006 non-null  float64
 20  acquisitionsNet                           10006 non-null  float64
 21  purchasesOfInvestments                    10006 non-null  float64
 22  salesMaturitiesOfInvestments              10006 non-null  int64
 23  otherInvestingActivites                   10006 non-null  float64
 24  netCashUsedForInvestingActivites          10006 non-null  float64
 25  debtRepayment                             10006 non-null  float64
 26  commonStockIssued                         10006 non-null  float64
 27  commonStockRepurchased                    10006 non-null  float64
 28  dividendsPaid                             10006 non-null  float64
 29  otherFinancingActivites                   10006 non-null  float64
 30  netCashUsedProvidedByFinancingActivities  10006 non-null  float64
 31  effectOfForexChangesOnCash                10006 non-null  float64
 32  netChangeInCash                           10006 non-null  float64
 33  cashAtEndOfPeriod                         10006 non-null  float64
 34  cashAtBeginningOfPeriod                   10006 non-null  float64
 35  operatingCashFlow                         10006 non-null  float64
 36  capitalExpenditure                        10006 non-null  float64
 37  freeCashFlow                              10006 non-null  float64
 38  link                                      10006 non-null  object
 39  finalLink                                 10006 non-null  object
dtypes: datetime64[ns](1), float64(28), int64(4), object(7)
memory usage: 3.1+ MB

In [74]:
balance_sheet_statements.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9991 entries, 0 to 19
Data columns (total 54 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   date                                     9991 non-null   datetime64[ns]
 1   symbol                                   9991 non-null   object
 2   reportedCurrency                         9991 non-null   object
 3   cik                                      9988 non-null   float64
 4   fillingDate                              9991 non-null   object
 5   acceptedDate                             9991 non-null   object
 6   calendarYear                             9991 non-null   int64
 7   period                                   9991 non-null   object
 8   cashAndCashEquivalents                   9991 non-null   float64
 9   shortTermInvestments                     9991 non-null   float64
 10  cashAndShortTermInvestments              9991 non-null   float64
 11  netReceivables                           9991 non-null   float64
 12  inventory                                9991 non-null   float64
 13  otherCurrentAssets                       9991 non-null   float64
 14  totalCurrentAssets                       9991 non-null   float64
 15  propertyPlantEquipmentNet                9991 non-null   float64
 16  goodwill                                 9991 non-null   float64
 17  intangibleAssets                         9991 non-null   float64
 18  goodwillAndIntangibleAssets              9991 non-null   float64
 19  longTermInvestments                      9991 non-null   float64
 20  taxAssets                                9991 non-null   float64
 21  otherNonCurrentAssets                    9991 non-null   float64
 22  totalNonCurrentAssets                    9991 non-null   float64
 23  otherAssets                              9991 non-null   int64
 24  totalAssets                              9991 non-null   float64
 25  accountPayables                          9991 non-null   float64
 26  shortTermDebt                            9991 non-null   float64
 27  taxPayables                              9991 non-null   int64
 28  deferredRevenue                          9991 non-null   int64
 29  otherCurrentLiabilities                  9991 non-null   float64
 30  totalCurrentLiabilities                  9991 non-null   float64
 31  longTermDebt                             9991 non-null   float64
 32  deferredRevenueNonCurrent                9991 non-null   int64
 33  deferredTaxLiabilitiesNonCurrent         9991 non-null   float64
 34  otherNonCurrentLiabilities               9991 non-null   float64
 35  totalNonCurrentLiabilities               9991 non-null   float64
 36  otherLiabilities                         9991 non-null   float64
 37  capitalLeaseObligations                  9991 non-null   float64
 38  totalLiabilities                         9991 non-null   float64
 39  preferredStock                           9991 non-null   int64
 40  commonStock                              9991 non-null   float64
 41  retainedEarnings                         9991 non-null   float64
 42  accumulatedOtherComprehensiveIncomeLoss  9991 non-null   float64
 43  othertotalStockholdersEquity             9991 non-null   float64
 44  totalStockholdersEquity                  9991 non-null   float64
 45  totalEquity                              9991 non-null   float64
 46  totalLiabilitiesAndStockholdersEquity    9991 non-null   float64
 47  minorityInterest                         9991 non-null   int64
 48  totalLiabilitiesAndTotalEquity           9991 non-null   float64
 49  totalInvestments                         9991 non-null   float64
 50  totalDebt                                9991 non-null   float64
 51  netDebt                                  9991 non-null   float64
 52  link                                     9991 non-null   object
 53  finalLink                                9991 non-null   object
dtypes: datetime64[ns](1), float64(39), int64(7), object(7)
memory usage: 4.2+ MB

In [75]:
ratios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9963 entries, 0 to 19
Data columns (total 58 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   symbol                              9963 non-null   object
 1   date                                9963 non-null   datetime64[ns]
 2   period                              9963 non-null   object
 3   currentRatio                        9459 non-null   float64
 4   quickRatio                          9459 non-null   float64
 5   cashRatio                           9459 non-null   float64
 6   daysOfSalesOutstanding              9952 non-null   float64
 7   daysOfInventoryOutstanding          8798 non-null   float64
 8   operatingCycle                      8797 non-null   float64
 9   daysOfPayablesOutstanding           8798 non-null   float64
 10  cashConversionCycle                 8797 non-null   float64
 11  grossProfitMargin                   9952 non-null   float64
 12  operatingProfitMargin               9952 non-null   float64
 13  pretaxProfitMargin                  9952 non-null   float64
 14  netProfitMargin                     9952 non-null   float64
 15  effectiveTaxRate                    9960 non-null   float64
 16  returnOnAssets                      9963 non-null   float64
 17  returnOnEquity                      9959 non-null   float64
 18  returnOnCapitalEmployed             9459 non-null   float64
 19  netIncomePerEBT                     9960 non-null   float64
 20  ebtPerEbit                          8960 non-null   float64
 21  ebitPerRevenue                      9952 non-null   float64
 22  debtRatio                           9963 non-null   float64
 23  debtEquityRatio                     9959 non-null   float64
 24  longTermDebtToCapitalization        9688 non-null   float64
 25  totalDebtToCapitalization           8342 non-null   float64
 26  interestCoverage                    9435 non-null   float64
 27  cashFlowToDebtRatio                 9691 non-null   float64
 28  companyEquityMultiplier             9959 non-null   float64
 29  receivablesTurnover                 9644 non-null   float64
 30  payablesTurnover                    8987 non-null   float64
 31  inventoryTurnover                   6748 non-null   float64
 32  fixedAssetTurnover                  9480 non-null   float64
 33  assetTurnover                       9963 non-null   float64
 34  operatingCashFlowPerShare           9959 non-null   float64
 35  freeCashFlowPerShare                9959 non-null   float64
 36  cashPerShare                        9959 non-null   float64
 37  payoutRatio                         9958 non-null   float64
 38  operatingCashFlowSalesRatio         9952 non-null   float64
 39  freeCashFlowOperatingCashFlowRatio  9947 non-null   float64
 40  cashFlowCoverageRatios              8345 non-null   float64
 41  shortTermCoverageRatios             8404 non-null   float64
 42  capitalExpenditureCoverageRatio     9428 non-null   float64
 43  dividendPaidAndCapexCoverageRatio   7212 non-null   float64
 44  dividendPayoutRatio                 7724 non-null   float64
 45  priceBookValueRatio                 9955 non-null   float64
 46  priceToBookRatio                    9955 non-null   float64
 47  priceToSalesRatio                   9948 non-null   float64
 48  priceEarningsRatio                  9954 non-null   float64
 49  priceToFreeCashFlowsRatio           9954 non-null   float64
 50  priceToOperatingCashFlowsRatio      9943 non-null   float64
 51  priceCashFlowRatio                  9943 non-null   float64
 52  priceEarningsToGrowthRatio          9953 non-null   float64
 53  priceSalesRatio                     9948 non-null   float64
 54  dividendYield                       7725 non-null   float64
 55  enterpriseValueMultiple             9930 non-null   float64
 56  priceFairValue                      9955 non-null   float64
 57  calendarYear                        9963 non-null   int64
dtypes: datetime64[ns](1), float64(54), int64(1), object(2)
memory usage: 4.5+ MB